* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: #0099CC;
    color: white;
    padding: 20px;
}

header p {
    font-size: 1.2em;
}


nav {
    width: 100%;
    float: left;
    background-color:#8DC63F;
    padding: 20px;
    margin-bottom: 20px;
}

section { 
    clear: both;
    display: block;
    width: 80%;
    margin: 20px auto;
    vertical-align: top;
    text-align: center;
    min-height: 450px;
    background-color: #F2F1ED;
    border-radius: 7px;
}

section li {
    list-style-type: none;
}

section table {
    margin: 0 auto;
}

thead {
    font-weight: bold;
}

td:not(:first-child) {
    width: 150px;
}

table.ingredients td {
    width: 200px;
}

section table img {
    height: 25px;
    width: 25px;
}

section p {
    font-size: 1.2em;
    padding: 15px;
}

form {
    padding: 10px;
}

form div {
    margin: 15px auto;
}

form div label {
    font-size: 1.1em;
}

form div input {
    height: 25px;
    font-size: 1.1em;
}

form button {
    padding: 5px;
    background-color: white;
}

header {
	background-color: #333333;
}

header p {
	color: white;
}

nav {
	background-color: #f2f2f2;
}

/* nav li */
nav ul {
	list-style: none;
}

nav a {
	color: #009900;
	text-decoration: none;
	font-weight: bold;
}

nav a:hover {
	text-decoration: underline;
	color: #c00;
}

.account {
	background-color: #d6f5d6;
}

.account img {
	background-color: white;
}

h2 {
	font: 36px Helvetica;
	color: #009900;
}

footer {
	background-color: #bfbfbf;
}

h2 {
	font-size: 24px;
}

#checking {
	color: orange;
}

/* remove the styles for .account 
	from the day before  above 
*/


/* box model settings */
header {
  padding: 10px;
}
nav {
  margin: 0 0 3em 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
nav li {
  list-style: none;
}
nav li a {
   padding: 8px 15px;
   border-right: 1px solid #ccc;
}
footer {
	clear: left;
   padding: 10px;
}
.account img {
  background-color: white;
}



/* Sets up the menu as a block display element */
nav li a {
   display: block;
}

/* Menu Float */
nav {
  float: left;
  width: 100%;
}

nav li {
  float: left;
}

/* 3 Column Layout */
.account {
	vertical-align: top;
	display: inline-block;
	width: 350px;
	margin-right: 30px;
	margin-left: 30px;
}

.account img {	
	padding: 10px;
}

.account h2, .account p {
	margin-left: 20px;
	margin-right: 20px;	
}

.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;	
	margin-bottom: 30px;
}

.grey {
	background-color: #cac9cb;
}

