body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 10px 10px;
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

section {
	clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 400px;
	background-color: #FFF;
	border-radius: 7px;
}

.ul-recipe {
	float: left;
	position: inline-block;
}

.recipe-name {
    list-style-type: none;
    position: inline-block;
    text-align: left;
    padding: 0 0 0 10px;
    font-weight: 600;
}

.img-tile {
	    width: 275px;
}

.container {
	column-count: 3;
}

.column {
    position: relative;
    background: #FAFAD2;
    width: 275px;
    height: 300px;
    left: 19%;
}

.star {
	width: 80px;
	position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0 5px 5px;
}

.ingredient_number {
	width: 90px;
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: 100;
    font-size: small;
    color: #806e6e;
    padding: 0 0 5px 0;
}


/* TABLE CSS */
.tg  {
	border-collapse:collapse;
	border-spacing:0;
	border:none;
	position: absolute;
    width: 65%;
    left: 10%;
}

.tg td {
	font-size:14px;
	font-weight: 400;
	padding:10px 5px;
	border-style:solid;
	border-width:0px;
	overflow:hidden;
	word-break:normal;
	width: 300px;
}

.tg th {
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:10px 5px;
	border-style:solid;
	border-width:0px;
	overflow:hidden;
	word-break:normal;
}

.tg .tg-baqh {
	text-align:center;
	vertical-align:top
}

.tg .tg-6qw1 {
	background-color:#c0c0c0;
	text-align:center;
	vertical-align:top
}

.star-table {
	width: 80px;
}

.grey {
	background-color: #cac9cb;
}

.table-image {
	width: 120px;
}

.details-container {
	margin: 0 0 0 240px;
	max-width: 600px;
	text-align: left;
}

.image-container {
	float: left;
	max-width: 220px;
	
}
.detail-image {
    width: 225px;
    margin: 5px 0 0 0;
    border-radius: 7px;
}

.section1 {
    margin: 0 0 0 10px;
    padding: 5px 0 0 0;
}

.section2 {
	text-align: left;
	margin: 0 0 0 10px;
}

.section3 {
	text-align: left;
	margin: 20px 0 10px 10px;
	padding: 0 0 10px 0;
} 

.cooktime {
	display: inline-block;
}

 

