body {
	
		
}

h1 {
	color: #009900;
}

.logo_banner {
	background-color: #333333;
	
}

.tagline {
	background-color: #333333;
	height: 50px;
	position: relative;
}

.tagline-content {
    position: absolute;
    bottom: 20px;
    left: 10px;
    color: white;
}

.ul-nav {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f2f2f2;
    
}

.nav {
    float: left;
    border-right: 1px solid #bcccb6;
    
}

a {
    display: block;
    padding: 8px;
    background-color: #f2f2f2;
    color: #009900;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
}

.nav-spacer {
	height: 15px;
	background-color: #f2f2f2;
	display: block;
}

.content_block {
    background-color: #d6f5d6;
    display: inline-block;
    vertical-align: top;
    position: relative;
    max-width: 338px;

}

.center-horizontal {
     position: relative;
     left: 50%;
     transform: translateX(-50%);
}

.left-horizontal {
     position: absolute;
     left: 3%;
}

.right-horizontal {
     position: absolute;
     right: 3%;
}

.footer {
    position: absolute;
    background-color: #bfbfbf;
   	bottom: -70%;
    right: 0;
    left: 0;
    padding: .5rem;
    font-weight: bold;
}

.content {
	padding: 15px;
}

.title {
	padding: 15px;
}

img {
    display: block;
 	background-color: white;
}

.container {
    float: left;
    column-count: 3;
}

.column {
    float: left;
    position: relative;
	width-max: 500px;
}

.column-offset-1 {
    left: 10%;
}
.column-offset-2 {
    left: 13%;
}
.column-offset-3 {
     right: -15%;
}



/* comment out to turn off red lines */
/*  * {
	border: solid 1px red;
}
 */
test {
	border: dashed 1px red;
	
}